@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 20px;
  margin: 0.5rem 0rem;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  height: 10rem;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.remove-arrow::-webkit-inner-spin-button, 
.remove-arrow::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
  
.remove-arrow { 
  -moz-appearance: textfield; 
} 

